.lsw_agenda {
    
}
.calendar_viewer {
    padding: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.no_tasks_message {
    padding: 8px;
}
.hour_separator_cell {
    background-color: #113;
    color: white;
    padding: 4px;
    font-weight: bold;
}

.hour_lapse_separator {
    background-color: #112;
    color: white;
    padding: 4px;
    cursor: pointer;
    border-bottom: 1px solid #AAA;
}
.hour_lapse_list {
    background-color: #CCC;
}
.hour_task_block {
    display: inline-block;
    padding: 4px;
    border-bottom: 1px solid #AAA;
}
.hour_task_pill {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 25px;
    height: 25px;
}
.hour_task_pill * {
    background-color: white;
}
.hour_task_dragger {
    cursor: grab;
}
.box_for_date_details {
    padding: 8px;
    padding-top: 4px;
}
.hour_task_details_start,
.hour_task_details_duration {
    background-color: rgb(165, 165, 219);
}
.hour_task_name {
    cursor: pointer;
}
.hour_compromises {
    font-size: 10px;
}
.hour_table {
    border-left: 1px solid #114;
    border-right: 1px solid #114;
    border-bottom: 1px solid #114;
}

.pill_start,
.pill_middle,
.pill_end {
    display: inline-block;
    height: 25px;
    padding: 5px;
}
.pill_start {
    flex: 1;
    display: inline-block;
    border: 1px solid black;
    border-radius: 2pt;
    border-top-right-radius: 0pt;
    border-bottom-right-radius: 0pt;
    font-weight: bold;
    white-space: nowrap;
    padding-top:2px;
}
.pill_middle,
.pill_end {
    flex: 1;
    display: inline-block;
    border: 1px solid black;
    border-left: none;
    font-size: 10px;
    white-space: nowrap;
}
.pill_middle {
    border-radius: 0pt;
}
.pill_end {
    border: 1px solid black;
    border-left: none;
    border-radius: 2pt;
    border-top-left-radius: 0pt;
    border-bottom-left-radius: 0pt;
    font-size: 10px;
    white-space: nowrap;
}

.hour_task_block.is_completed .hour_task_name {
    background-color: #46c01a;
}
.hour_task_block.is_pending .hour_task_name {
    background-color: #e5df23;
}
.hour_task_block.is_failed .hour_task_name {
    background-color: #a83b14;
}
.hour_task_editer {}
.hour_task_deleter {}

.hour_task_editer,
.hour_task_deleter {
    cursor: pointer;
}

.hidden_menu {
    position: relative;
}
.hidden_menu_box {
    position: absolute;
    top: 0;
    bottom: auto;
    left: 0;
    right: auto;
    padding: 4px;
    padding-top: 4px;
    padding-left: 0px;
    z-index: 1001;
}
.hidden_menu_items {
    background-color: rgba(255,255,255,0.7);
    border: 1px solid #999;
    border-radius: 2pt;
    box-shadow: 0 0 4px black;
}

.hidden_menu_items > div {
    white-space: nowrap;
    padding: 0px;
    border-top: 1px solid #999;
}
.hidden_menu_items > div:first-child {
    border-top: 0px solid white;
}
.hidden_menu_items > div > button {
    width: 100%;
    padding: 2px;
}
.hidden_menu_fixed_layer {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 1000;
    background-color: rgba(0,0,0,0.3);
}


.form_label {
    padding-top: 4px;
}
input.form_control {
    width: 100%;
}


.form_label {
    
}
.form_label .enunciate_box {
    display: inline-block;
}
.form_label .info_icon {
    display: inline-block;
    cursor: pointer;
}
.form_label .explanation {
    display: inline;
    color: #777;
    font-size: 10px;
}

.form_title {
    background-color: #555;
    color: white;
    padding: 8px;
    border: 1px solid black;
    font-weight: bold;
}


.LswAgendaAccionAdd {

}

.LswAgendaAccionSearch {

}
.lsw_agenda_breadcrumb {
    padding-left: 0px;
    padding-right: 0px;
}
.agenda_breadcrumb {
    display: flex;
    flex-direction: row;
    gap: 4px;
    border: 1px solid #999;
    border-radius: 2pt;
    padding: 4px;
    background-color: rgba(193, 193, 193, 0.51);
}
.agenda_breadcrumb_item {
    flex: 1;
    padding: 4px;
}
.agenda_breadcrumb_link {
    color: black;
    font-weight: normal;
    cursor: pointer;
}
.agenda_breadcrumb_link:hover {
    text-decoration: underline;
}
.agenda_breadcrumb_link.only_label {
    font-weight: normal;
    text-decoration: none;
    cursor: inherit;
}
.LswAgendaConceptoAdd {

}
.LswAgendaConceptoSearch {

}
.LswAgendaEventoSearch {

}
.form_item {
    padding-top: 4px;
    padding-bottom: 4px;
    border-top: 1px solid #CCC;
}
select.form_control {
    width: 100%;
}
.enunciate_box2 {
    padding-bottom: 2px;
}
.enunciate {
    font-weight: bold;
    display: block;
}
.enunciate > .enunciate_text {
    display: inline;
    white-space: nowrap;
}
.enunciate_box {
    padding-left: 4px;
    float: right;
}
.enunciate > .coderef {
    display: inline;
    padding-bottom: 2px;
}
.enunciate > .coderef > .codenote {
    display: inline;
    font-weight: normal;
    font-size: 9px;
    white-space: nowrap;
    padding-right: 2px;
}
.enunciate > .coderef > .codenote.as_note {
    padding-left: 2px;
}
.enunciate > .coderef > .codetext {
    display: inline;
    font-weight: normal;
    font-family: monospace;
    font-size: 8px;
    white-space: nowrap;
}
.enunciate > .coderef > .codetype {
    font-size: 10px;
    background-color: #CCC;
    box-shadow: 0 0 2px black;
    padding: 0px;
    padding-left: 4px;
    padding-right: 4px;
}
.validationBox {
    display: none;
    padding: 4px;
    border: 1px solid #999;
    margin-top: 1px;
}
.validationBox.errorBox {
    display: block;
    background-color: rgb(207, 100, 100);
}
.validationBox.successBox {
    display: block;
    background-color: rgb(127, 223, 127);
}
.LswAgendaImpresionAdd {

}
.LswAgendaImpresionSearch {

}
.LswAgendaInfraccionSearch {

}
.LswAgendaLimitadorAdd {

}
.LswAgendaLimitadorSearch {

}
.LswAgendaPostimpresionSearch {

}
.LswAgendaPropagacionSearch {

}
.LswAgendaPropagadorSearch {

}
